<div id="details" ng-controller="detailsController">
  <div id="movie-box"class="small-8 small-centered column" ng-repeat="movie in movies | filter:imdbID">
    <a class="small button" ng-href="#/details/{{movies[(movie.rank-2+movies.length)%movies.length].imdbID}}">Prev</a>
    <a class="small button" ng-href="#/details/{{movies[movie.rank%movies.length].imdbID}}">Next</a>
    <p>{{movie.title}}</p>
    <p>{{movie.rank}}</p>
    <div class="row">
      <div class="small-4 column">
        <img id="moviePics" ng-src="./data/images/{{movie.imdbID}}.jpg" alt="">
      </div>
      <div class="small-8 column">
        <p>{{movie.runtime}}</p>
        <p>{{movie.releaed}}</p>
        <p>{{movie.awards}}</p>
        <p>{{movie.plot}}</p>
      </div>

    </div>



  </div>

</div>
