<div id="gallery"class="row" ng-controller="galleryController">
  <div class="small-12 columns text-center">
    <a href="" ng-click = "genre=''" class="button small">All</a>
    <a href="" ng-click = "genre='Action'" class="button small">Action</a>
    <a href="" ng-click = "genre='Adventure'" class="button small">Adventure</a>
    <a href="" ng-click = "genre='Comedy'" class="button small">Comedy</a>
    <a href="" ng-click = "genre='Drama'" class="button small">Drama</a>
    <a href="" ng-click = "genre='Musical'" class="button small">Musical</a>
    <a href="" ng-click = "genre='Mystery'" class="button small">Mystery</a>
    <a href="" ng-click = "genre='Romance'" class="button small">Romance</a>
    <a href="" ng-click = "genre='Sci-Fi'" class="button small">Sci-Fi</a>
    <a href="" ng-click = "genre='Thriller'" class="button small">Thriller</a>
    <a href="" ng-click = "genre='Western'" class="button small">Western</a>
  </div>
  <div ng-repeat="movie in movies | filter:movies.genre | filter:{genre:genre}" class="small-6 medium-4 large-2 columns end text-center" id="movie">
        <a ng-href="#/details/{{movie.imdbID}}">
          <img id="moviePics" ng-src="./data/images/{{movie.imdbID}}.jpg" alt="">
        </a>
  </div>
</div>
