<div id="list" ng-controller="listController">
  <div id="search-bar" class="row">
    <div class="small-8 small-centered columns">
      <input type="search" ng-model="searched" placeholder="Search for movies...">
      <span>Sort By:</span>
      <select ng-model="orderProp">
        <option value="rank" selected>Rank</option>
        <option value="title">Title</option>
       </select>

     <input name="reverse"type="radio" ng-click="isReverse = false" checked>Ascending
     <input name="reverse"type="radio" ng-click="isReverse = true">Descending
    </div>
  </div>


  <div id="results" class="row" >
    <div id="searched" class="small-8 small-centered columns">
      <ul class="listed">
          <li id="list-element"ng-repeat="movie in movies | filter:searched | orderBy: orderProp: isReverse">
            <div class="row" id="movie_lists">
              <a id="curr_movie_link" href="#/details/{{movie.imdbID}}">
                <div class="row" id="curr_movie">
                  <div id="single_movie"class="small-2 columns">
                    <img id="movies" ng-src="./data/images/{{movie.imdbID}}.jpg" alt="">
                  </div>
                  <div id="single_movie" class="small-10 columns">
                    <p>{{movie.title}}</p>
                    <p>Rank: {{movie.rank}}</p>
                  </div>
                </div>
              </a>
            </div>
          </li>
      </ul>
    </div>
  </div>


</div>
